{%extends 'base.html'%}


{%block content%}
<h4>Inserting Trainee</h4>
<div class="card">
    <div class="card-header">
        <div class="card-title">Form Control Styles</div>
    </div>
    <div class="card-body">
        <form method = "POST">
        {%csrf_token%}
        <div class="form-group">
            <label for="squareInput">Name</label>
            <input type="text" class="form-control input-square" id="squareInput" value={{ trainee.name }} name = "name">
        </div>
        <div class="form-group">
            <label for="squareSelect">Square Select</label>
            <select class="form-control input-square" id="squareSelect" name="track">
                {%for track in tracks%}
                {% if track.name == trainee.track %}
                <option value = {{ track.id }} selected> {{ track.name }} </option>
                {% else %}
                <option value = {{ track.id }}> {{ track.name }} </option>
                {% endif %}                
                {%endfor%}
            </select>
        </div>
        <div class="card-action">
            <input type = "submit" class="btn btn-success">
        </div>
    </form>
    </div>
{%endblock content%}